


/*-----------------------------------------------------------NavBar styles-----------------------------------------------------------------*/
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: rgb(0, 0, 0);
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    color: aliceblue;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
  background-color: #52c8df;
}

/*Change button on Menu*/
.changeGameButton {
  background-color: #f44336;
  color: aliceblue; 
  border: 2px solid #f44336;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-decoration: solid;
}

.changeGameButton:hover {
  background-color: #c60b0b;
  
}

/*toggle button for menu*/

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}